﻿@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<form asp-controller="Account" asp-action="Profile" method="post" class="form-horizontal" role="form">
    <h4>Update your Profile.</h4>
    <hr />
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control"/>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="BusinessName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="BusinessName" class="form-control" />
            <span asp-validation-for="BusinessName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="WorkEmail" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="WorkEmail" class="form-control" />
            <span asp-validation-for="WorkEmail" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Telephone" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Telephone" class="form-control"/>
            <span asp-validation-for="Telephone" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AltTelephone" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AltTelephone" class="form-control"/>
            <span asp-validation-for="AltTelephone" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Website" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Website" class="form-control" />
            <span asp-validation-for="Website" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
</form>
